<button
  v-component="toggle-button-colorful"
  v-text="buttonText"
  v-class="buttonClass"
  v-event:click="on = !on"
  v-event:before-connected="$log('LifecycleCallbacks # beforeConnected')"
  v-event:connected="$log('LifecycleCallbacks # connected')"
  v-event:rendered="$log('LifecycleCallbacks # rendered')"
  v-event:before-dehydrated="$log('LifecycleCallbacks # beforeDehydrated')"
  v-event:before-destroyed="$log('LifecycleCallbacks # beforeDestroyed')"
  v-event:dehydrated="$log('LifecycleCallbacks # dehydrated')"
  v-event:destroyed="$log('LifecycleCallbacks # destroyed')"
  class="transform transition-all rounded shadow-md font-medium px-4 py-2 cursor-pointer border border-gray-400"
></button>
