<div
  *component
  #toggle="false"
  #href="toggle ? 'https://www.google.com' : null"
  #text="toggle ? 'A working link' : 'A broken link'"
  class="flex items-center space-x-4"
>
  <button
    @click="toggle = !toggle"
    class="button"
  >Toggle Link</button>
  <a
    :href="href"
    :text="text"
    class="text-link"
    target="_blank"
  ></a>
</div>
