<div
  v-component
  v-data:toggle="false"
  class="flex items-center space-x-4"
>
  <button
    v-event:click="toggle = !toggle"
    class="button"
  >Toggle Link</button>
  <a
    v-href="toggle ? 'https://www.google.com' : null"
    v-text="toggle ? 'A working link' : 'A broken link'"
    class="text-link"
    target="_blank"
  ></a>
</div>
