<div
  *for="toDo of filteredList"
  *to-do-item*
  :key="id"
  class="to-do-item h-12 flex items-stretch"
>
  <!-- MODE = EDITING -->
  <div
    *if="isEditing"
    class="flex items-center w-full space-x-2"
  >
    <input
      type="text"
      class="flex-1"
      placeholder="Edit label..."
      *sync="label"
      *ref="input"
      @keydown.ent="save"
      @keydown.esc="reset"
    ></input>
    <button
      class="button-indigo"
      @click="save"
      :disabled="!hasLabel"
    >Save</button>
    <button
      class="button"
      @click="reset"
    >Cancel</button>
  </div>


  <!-- MODE = SHOW -->
  <div
    *if="isShowing"
    class="flex items-center w-full"
  >
    <div class="flex-2 flex items-center">
      <input
        type="checkbox"
        class="mr-2"
        *sync="toDo.checked"
      ></input>
      <p
        class="flex-2"
        :class.line-through.italic="toDo.checked"
        :text="toDo.label"
      ></p>
    </div>
    <div class="to-do-tags flex-1 flex items-center">
      <p
        *for="tag of toDo.tags"
        :text="tag"
        class="rounded text-xs uppercase font-semibold px-2 py-1 mr-1 mt-1 bg-indigo-100 text-indigo-900"
      ></p>
    </div>
    <div class="flex-1 flex items-center justify-end space-x-2">
      <button
        :disabled="toDo.checked"
        class="button"
        @click="startEditing"
      >Edit</button>
      <button
        :disabled="toDo.checked"
        class="button-rosy"
        @click="confirmDelete"
      >Delete</button>
    </div>
  </div>


  <!-- MODE = DELETING -->
  <div
    *if="isDeleting"
    class="flex items-center w-full"
    hidden
  >
    <p class="flex-1 text-rose-600">Are you sure you want to delete this?</p>
    <button
      class="button-rose mr-2"
      @click="$parent.removeItem(toDo)"
    >Confirm</button>
    <button
      class="button"
      @click="reset"
    >Cancel</button>
  </div>
</div>
