<%
  const items = [
    {
      id: 1,
      label: 'Spec out a high level pan of attack',
      tags: ['urgent', 'blocked'],
    },
    {
      id: 2,
      label: 'Add time estimates to the various parts of the project',
      tags: ['blocked', 'notifies'],
    },
    {
      id: 3,
      label: 'Choose a technical infrastructure for the project',
      tags: ['urgent', 'notifies'],
    },
    {
      id: 4,
      label: 'Spin up an example app',
      tags: ['notifies'],
    }
  ];
%>

<div
  *component="ToDoList"
  #to-dos="<%= JSON.stringify(items) %>"
>
  <div class="flex items-center">
    <p class="text-sm text-gray-700 font-semibold uppercase">List of To-Dos</p>
    <div class="w-8"></div>

    <%- include('/examples/to-do-list/search') %>

    <div class="w-8"></div>

    <select *sync="filter" >
      <option value="">All tags...</option>
      <option value="urgent">URGENT</option>
      <option value="blocked">BLOCKED</option>
      <option value="notifies">NOTIFIES</option>
    </select>

    <div class="w-2"></div>

    <select *sync="sort">
      <option value="">Default order</option>
      <option value="alphaAsc">Alphabetical (A-Z)</option>
      <option value="alphaDesc">Alphabetical (Z-A)</option>
    </select>
  </div>

  <div
    class="mt-6"
    *ref="list"
  >
    <%- include('/examples/to-do-list/item') %>
  </div>

  <div class="mt-6">
    <button
      *if="!creating"
      class="button-indigo"
      @click="startCreating"
    >New To-Do</button>
    <div *if="creating">
      <%- include('/examples/to-do-list/new-item') %>
    </div>
  </div>
</div>
