<div
  v-component="to-do-new-item"
  v-bind:cancel="stopCreating"
  v-bind:create="create"
  v-pass:showing="creating"
  @connected="$log('New Item connected!')"
  @rendered="$log('New Item rendered!'); $refs.input.focus"
  v-ref="newItem"
  class="flex items-stretch h-10 space-x-2"
>
  <input
    type="text"
    class="flex-1"
    placeholder="New to-do..."
    v-sync="label"
    v-ref="input"
    v-event:keydown.enter="create"
    v-event:keydown.escape="reset"
  ></input>
  <button
    class="button-indigo"
    v-event:click="create"
    v-attr:disabled="!hasLabel"
  >Create</button>
  <button
    class="button"
    v-event:click="reset"
  >Cancel</button>
</div>
