<div
  *to-do-new-item*
  $cancel="$parent.stopCreating"
  #showing="$parent.creating"
  @connected="$log('New Item connected!')"
  @rendered="$log('New Item rendered!'); $refs.input.focus"
  *ref="newItem"
  class="flex items-stretch h-10 space-x-2"
>
  <input
    type="text"
    class="flex-1"
    placeholder="New to-do..."
    *sync="label"
    *ref="input"
    @keydown.enter="create"
    @keydown.escape="reset"
  ></input>
  <button
    class="button-indigo"
    @click="create"
    :disabled="!hasLabel"
  >Create</button>
  <button
    class="button"
    @click="reset"
  >Cancel</button>
</div>
