<div
  v-component="to-do-search"
  v-pass:filtering
  v-pass:text
  v-bind:input="updateText"
  v-event:keydown.esc="clear"
  v-event:keydown.ent="blur"
  v-event:rendered="$refs.input.focus"
  class="flex-1"
>
  <input
    v-sync="inputText"
    v-disabled="filtering"
    v-ref="input"
    type="text"
    class="w-full"
    placeholder="Search to-dos..."
  ></input>
</div>
