<div
  *to-do-search*
  #filtering="$parent.filtering"
  #text="$parent.text"
  @keydown.esc="clear"
  @keydown.ent="blur"
  @rendered="$refs.input.focus"
  class="flex-1"
>
  <input
    *ref="input"
    *sync="text"
    :disabled="filtering"
    type="text"
    class="w-full"
    placeholder="Search to-dos..."
  ></input>
</div>
