---
layout: default
---

<% const exampleGroup = examples.find(eg => eg.id === id); %>

<div class="grid grid-cols-2 gap-8">
  <% exampleGroup.examples.forEach(example => { %>
    <%- include('/examples/example', { id, example }); %>
  <% }); %>
</div>
