<div
  class="mx-auto"
  v-component
  v-data:hovering="false"
  v-data:src="https://s3.amazonaws.com/kippy.online/kullect.png"
  v-data:alt-src="https://s3.amazonaws.com/kippy.online/kullect.gif"
>
  <img
    class="h-64 w-64 object-cover"
    v-src="hovering && !!altSrc ? altSrc : src"
    v-event:mouseenter="hovering = true"
    v-event:mouseleave="hovering = false"
  />
  <p class="text-center mt-4">
    <span v-if="hovering">Hovering!</span>
    <span v-if="!hovering && !!altSrc">Try hovering...</span>
  </p>
</div>
