<div
  *component
  #hovering="false"
  #src="'https://s3.amazonaws.com/kippy.online/kullect.png'"
  #alt-src="'https://s3.amazonaws.com/kippy.online/kullect.gif'"
  class="mx-auto"
>
  <img
    :src="hovering && !!altSrc ? altSrc : src"
    @mouseenter="hovering = true"
    @mouseleave="hovering = false"
    class="h-64 w-64 object-cover"
  />
  <p class="text-center mt-4">
    <span *if="hovering">Hovering!</span>
    <span *else>Try hovering...</span>
  </p>
</div>
