<div
  v-component="ListsFilter"
  v-data:items='[{"id":1,"name":"Item # 1"},{"id":2,"name":"Item # 2"},{"id":3,"name":"Item # 3"},{"id":4,"name":"Item # 4"},{"id":5,"name":"Item # 5"}]'
>
  <button
    v-event:click="toggleFilter"
    v-attr:text="buttonLabel"
    class="button"
  ></button>
  <ul class="mt-6">
    <li
      v-for="item of filteredItems"
      v-attr:text="item?.name"
    />
  </ul>
</div>
