<div
  v-component="ListsShuffle"
  v-data:items='[{"id":1,"name":"Item # 1"},{"id":2,"name":"Item # 2"},{"id":3,"name":"Item # 3"},{"id":4,"name":"Item # 4"},{"id":5,"name":"Item # 5"}]'
>
  <button
    v-event:click="shuffleItems"
    class="button"
  >Shuffle Items</button>
  <ul class="mt-6">
    <li
      v-for="item of shuffledItems"
      v-attr:text="item.name"
    />
  </ul>
</div>