<div
  *component="ListsShuffleFilter"
  #items='[{"id":1,"name":"Item # 1"},{"id":2,"name":"Item # 2"},{"id":3,"name":"Item # 3"},{"id":4,"name":"Item # 4"},{"id":5,"name":"Item # 5"}]'
>
  <div class="flex items-center space-x-4">
    <button
      @click="shuffleItems"
      class="button"
    >Shuffle Items</button>
    <button
      @click="toggleFilter"
      :text="buttonLabel"
      class="button"
    ></button>
  </div>
  <ul class="mt-6">
    <li>Pre-list item</li>
    <li
      *for="item of filteredItems"
      :text="item.name"
    />
    <li>Post-list item</li>
  </ul>
</div>
