<div
  v-component="accordion"
  class="accordion"
>
  <include
    src="examples/components/accordion/section.html"
    locals='{ "title": "Yo, man!", "text": "Body text pew pew", "value": "a" }'
  ></include>
  <include
    src="examples/components/accordion/section.html"
    locals='{ "title": "Pew pew pew", "text": "Secondary body text rawr", "value": "b" }'
  ></include>
  <include
    src="examples/components/accordion/section.html"
    locals='{ "title": "Ca caw!", "text": "More body text, pew pew Body text pew pew", "value": "c" }'
  ></include>
</div>
