<div
  v-component="to-do-list"
  class="p-8"
>
  <p class="text-sm text-gray-700 font-semibold uppercase ml-2 pb-2">List of To-Dos</p>
  <include
    src="components/to-do/item.html"
    locals='{ "toDo": { "id": 1, "label": "Spec out a high level pan of attack" }}'
  ></include>
  <include
    src="components/to-do/item.html"
    locals='{ "toDo": { "id": 2, "label": "Add time estimates to the various parts of the project" }}'
  ></include>
  <include
    src="components/to-do/item.html"
    locals='{ "toDo": { "id": 3, "label": "Choose a technical infrastructure for the project" }}'
  ></include>
  <include
    src="components/to-do/item.html"
    locals='{ "toDo": { "id": 3, "label": "Spin up an example app" }}'
  ></include>
  <button
    v-if="!creating"
    class="text-white bg-indigo-600 px-3 py-2 rounded hover:shadow-md active:shadow-none mt-4"
    v-click="startCreating"
  >New To-Do</button>
  <div v-if="creating">
    <include src="components/to-do/new-item.html"></include>
  </div>
</div>
