<html>
  <head>
    <script type="text/javascript" src="./main.js"></script>
    <link rel="stylesheet" type="text/css" href="./main.pcss">
  </head>
  <body>
    <include src="components/turbo-refresh/view.html"></include>
    <include src="components/to-do/list.html"></include>
    <p class="ml-6 mt-12 font-semibold">Toggle Button</p>
    <button
      class="mt-4 ml-6 px-3 py-1 border border-gray-400 shadow hover:shadow-lg focus:shadow-none"
      v-component
      v-data:on="false"
      v-text="on ? 'On' : 'Off'"
      v-event:click="on = !on"
    ></button>
    <p class="ml-6 mt-12 font-semibold">Counter</p>
    <div
      v-component="counter"
      class="flex items-center mt-4 px-6"
    >
      <button
        v-event:click="count -= 1"
        class="px-3 py-1 border border-solid border-gray-400 shadow hover:shadow-lg focus:shadow-none"
      >-</button>
      <p
        v-text="count"
        v-class:text-red="countHigh"
        class="w-16 text-center"
      ></p>
      <button
        v-event:click="count += 1"
        class="px-3 py-1 border border-solid border-gray-400 shadow hover:shadow-lg focus:shadow-none"
      >+</button>
    </div>
    <p class="ml-6 mt-12 font-semibold">Hover Image</p>
    <div
      class="mt-4 ml-6"
      v-component
      v-data:hovering="false"
      v-data:src="https://s3.amazonaws.com/kippy.online/kullect-cover.png"
      v-data:alt-src="https://s3.amazonaws.com/kippy.online/kullect.gif"
    >
      <img
        v-src="hovering && altSrc ? altSrc : src"
        v-event:mouseenter="hovering = true"
        v-event:mouseleave="hovering = false"
      />
    </div>
    <p class="ml-6 mt-12 font-semibold">Tabs</p>
    <div
      v-component
      v-data:tab="b"
      class="mt-6 px-6"
    >
      <div class="fiex items-center">
        <button
          v-event:click="tab = 'a'"
          v-class:bg-white="tab === 'a'"
          v-class:bg-gray-200="tab !== 'a'"
          v-class:hover:bg-indigo-100="tab !== 'a'"
          v-class:hover:border-indigo-100="tab !== 'a'"
          v-class:text-gray-600="tab !== 'a'"
          class="w-24 h-10 border-t-2 border-l-2 border-r-2 border-solid border-gray-200 rounded-t"
        >Tab A</button>
        <button
          v-event:click="tab = 'b'"
          v-class:bg-white="tab === 'b'"
          v-class:bg-gray-200="tab !== 'b'"
          v-class:hover:bg-indigo-100="tab !== 'b'"
          v-class:hover:border-indigo-100="tab !== 'b'"
          v-class:text-gray-600="tab !== 'b'"
          class="w-24 h-10 border-t-2 border-l-2 border-r-2 border-solid border-gray-200 rounded-t m-l"
        >Tab B</button>
        <button
          v-event:click="tab = 'c'"
          v-class:bg-white="tab === 'c'"
          v-class:bg-gray-200="tab !== 'c'"
          v-class:hover:bg-indigo-100="tab !== 'c'"
          v-class:hover:border-indigo-100="tab !== 'c'"
          v-class:text-gray-600="tab !== 'c'"
          class="w-24 h-10 border-t-2 border-l-2 border-r-2 border-solid border-gray-200 rounded-t m-l"
        >Tab C</button>
      </div>
      <div
        class="border-2 border-solid border-gray-200 rounded-tr p-8"
        style="margin-top: -2px;"
      >
        <p v-if="tab === 'a'">Displaying content for Tab A...</p>
        <p v-if="tab === 'b'">Displaying content for Tab B...</p>
        <p v-if="tab === 'c'">Displaying content for Tab C...</p>
      </div>
    </div>
  </body>
</html>

<!-- z ->
