@tailwind base;
/* @tailwind components; */
@tailwind utilities;

.hidden {
  display: none;
}

button:focus {
  outline: none;
}

[v-text]:empty:before {
  content: "⚭♏︎♎︎♌︎⚙︎❄︎✕";
}

.section.selected > button {
  color: blue;
}
.section.hovering {
  color: red;
}
