<div
  *component
  #toggle="false"
  class="flex items-center space-x-4"
>
  <div class="flex-1">
    <input
      *sync="toggle"
      type="checkbox"
      name="text"
    />
  </div>
  <div class="flex-1">
    <p
      :text="toggle"
      class="w-full"
    ></p>
  </div>
  <button
    @click="toggle = !toggle"
    class="button"
  >Toggle</button>
</div>
