<div
  *input-select*
  class="flex items-center space-x-4"
>
  <div class="flex-1">
    <select
      *sync="value"
      class="w-full"
    >
      <option value="rome">Rome</option>
      <option value="paris">Paris</option>
      <option value="london">London</option>
      <option value="berlin">Berlin</option>
      <option value="tokyo">Tokyo</option>
      <option value="abuja">Abuja</option>
    </select>
  </div>
  <div class="flex-1">
    <p
      :text="value"
      class="w-full"
    ></p>
  </div>
  <button
    @click="reset"
    class="button"
  >Reset</button>
</div>
