<div
  *inputs-text*
  #text
  class="flex items-center space-x-4"
>
  <div class="flex-1">
    <input
      type='text'
      *sync="text"
      *ref="text"
      @keydown.esc="$refs.text.blur()"
      class="w-full"
      placeholder="Try typing some text..."
    />
  </div>
  <div class="flex-1">
    <p
      :text="text"
      class="w-full"
    ></p>
  </div>
  <button
    @click="text = 'Reset text...'"
    class="button"
  >Reset</button>
</div>
