<div
  *inputs-textarea*
  #text="null"
  class="flex items-center space-x-4"
>
  <div class="flex-1">
    <textarea
      *sync="text"
      *ref="text"
      @keydown.esc="$refs.text.blur"
      class="w-full"
      placeholder="Try typing some text..."
    ></textarea>
  </div>
  <div class="flex-1">
    <p
      :text="text"
      class="w-full"
    ></p>
  </div>
  <button
    @click="text = 'Reset textarea...'"
    class="button"
  >Reset</button>
</div>
