<%
  const data = [
    { id: 0, key: 'Color', value: 'purple' },
    { id: 1, key: 'Size', value: 'large' },
    { id: 2, key: 'Shape', value: 'round' },
  ]
%>

<div
  v-component
  #data="<%= JSON.stringify(data) %>"
  #suggestions="<%= JSON.stringify(['Texture', 'Category', 'Section']) %>"
  #next-id="3"
  ðŸ–¥ï¸:data-keys="data.map(d => d.key)"
  ðŸ–¥ï¸:filtered-suggestions="suggestions.filter(s => !dataKeys.includes(s))"
  ðŸ› ï¸:add-data="data.push({ id: nextId, key: $args[0], value: '' }); nextId += 1"
>
  <ul class="space-y-4">
    <li
      v-for="item of data"
      :key="id"
      class="flex items-center justify-evenly space-x-2"
    >
      <input
        type="text"
        v-sync="item.key"
        class="flex-1 w-0"
      />
      <input
        type="text"
        v-sync="item.value"
        class="flex-1 w-0"
      />
    </li>
  </ul>
  <div class="flex items-center space-x-2 mt-6">
    <button
      @click="addData('')"
      class="button"
    >Add Property</button>
    <button
      v-for="suggestion of filteredSuggestions"
      v-bind:append="addData"
      @click="$emit('append', suggestion)"
      class="button"
    >+ <span :text="suggestion"></span></button>
  </div>
  <p
    class="text-sm font-mono text-gray-700 dark:text-gray-400 mt-6"
    :text="JSON.stringify(data)"
  ></p>
</div>