<%
  const data = [
    { key: 'Color', value: 'purple' },
    { key: 'Size', value: 'large' },
    { key: 'Shape', value: 'round' },
  ]
%>

<div
  *for-sync*
  #data="<%= JSON.stringify(data) %>"
  #suggestions="<%= JSON.stringify(['Texture', 'Category', 'Section']) %>"
  #data-keys="data.map(d => d.key)"
  #filtered-suggestions="suggestions.filter(s => !dataKeys.includes(s))"
  $add-data="data.push({ key: $arg, value: '' })"
>
  <ul class="space-y-4">
    <li
      *for="item of data"
      class="flex items-center justify-evenly space-x-2"
    >
      <input
        type="text"
        *sync="item.key"
        class="flex-1 w-0"
      />
      <input
        type="text"
        *sync="item.value"
        class="flex-1 w-0"
      />
    </li>
  </ul>
  <div class="flex items-center space-x-2 mt-6">
    <button
      @click="addData('')"
      class="button"
    >Add Property</button>
    <button
      *for="suggestion of filteredSuggestions"
      @click="$parent.addData(suggestion)"
      class="button"
    >+ <span :text="suggestion"></span></button>
  </div>
  <p
    class="text-sm font-mono text-gray-700 dark:text-gray-400 mt-6"
    :text="JSON.stringify(data)"
  ></p>
</div>