<%
  const generateEntry = function(idx) {
    const string = (Math.random() + 1).toString(36).substring(2);
    return {
      id: idx,
      string,
      metadata: {
        color: 'purple',
        size: Math.floor(Math.random() * 100),
      },
    }
  }

  let data = [];
  for (let i = 0; i < 20; i += 1) {
    const entry = generateEntry(i);
    data.push(entry);
  }
%>

<div
  *render-controllers*
  #data="<%= JSON.stringify(data) %>"
  #show-list="true"
  #show-even="true"
  #truncate-data="false"
  #color="'text-black'"
  #display-data="truncateData ? data.slice(10, 20) : data"
  #color-class="[this.color]"
  $toggle-color="color === 'text-blue-600' ? color = 'text-black' : color = 'text-blue-600'"
>
  <div class="flex items-center space-x-2 mt-4">
    <button
      class="button"
      @click="showList = !showList"
    >Toggle List</button>
    <button
      class="button"
      @click="truncateData = !truncateData"
    >Toggle Truncation</button>
    <button
      class="button"
      @click="showEven = !showEven"
    >Toggle Even/Odd</button>
    <button
      class="button"
      @click="toggleColor"
    >Toggle Color</button>
  </div>
  <ol
    *if="showList"
    class="list-decimal list-inside mt-6"
  >
    <li
      *for="(entry, idx) of displayData"
      #show-even="$parent.showEven"
      #color-class="$parent.colorClass"
      #is-even="testIsEven(idx)"
      #metadata="showEven ? entry.metadata : null"
      $test-is-even="$arg % 2 == 0"
    >
      <span
        *if="(showEven && isEven) || (!showEven && !isEven)"
        :text="entry.string"
        :class="colorClass"
      ></span>
      <div
        *if="metadata"
        class="flex items-center justify-around"
      >
        <span>Color:</span>
        <span
          :text="metadata.color"
          :class.text-red-600="isEven"
        ></span>
      </div>
      <p
        *else-if="entry.metadata.size >= 50"
        class="pl-8"
      >No metadata present (but the size is big)</p>
      <p
        *else
        class="pl-8"
      >No metadata present (but the size is small)</p>
      <div
        *if="metadata"
        class="flex items-center justify-around"
      >
        <span>Size:</span>
        <span :text="metadata.size"></span>
      </div>
    </li>
  </ol>
</div>