<div
<%
  const generateEntry = function(idx) {
    const string = (Math.random() + 1).toString(36).substring(2);
    return {
      id: idx,
      string,
      metadata: {
        color: 'purple',
        size: Math.floor(Math.random() * 100),
      },
    }
  }

  let data = [];
  for (let i = 0; i < 20; i += 1) {
    const entry = generateEntry(i);
    data.push(entry);
  }
%>

<div
  v-component
  #data="<%= JSON.stringify(data) %>"
  #show-list="true"
  #show-even="true"
  #truncate-data="false"
  #color="text-black"
  ðŸ–¥ï¸:display-data="truncateData ? data.slice(10, 20) : data"
  ðŸ–¥ï¸:color-class="[this.color]"
  âœ¨:toggle-color="color === 'text-blue-600' ? color = 'text-black' : color = 'text-blue-600'"
>
  <div class="flex items-center space-x-2 mt-4">
    <button
      class="button"
      @click="showList = !showList"
    >Toggle List</button>
    <button
      class="button"
      @click="truncateData = !truncateData"
    >Toggle Truncation</button>
    <button
      class="button"
      @click="showEven = !showEven"
    >Toggle Even/Odd</button>
    <button
      class="button"
      @click="toggleColor"
    >Toggle Color</button>
  </div>
  <ol
    v-if="showList"
    class="list-decimal list-inside mt-6"
  >
    <li
      v-for="(entry, idx) of displayData"
      ðŸŽ:show-even
      ðŸŽ:color-class
      ðŸ–¥ï¸:is-even="testIsEven(idx)"
      ðŸ–¥ï¸:metadata="showEven ? entry.metadata : null"
      âœ¨:test-is-even="$args[0] % 2 == 0"
    >
      <span
        v-if="(showEven && isEven) || (!showEven && !isEven)"
        :text="entry.string"
        ðŸŽ¨:="colorClass"
      ></span>
      <div
        v-if="metadata"
        class="flex items-center justify-around"
      >
        <span>Color:</span>
        <span
          :text="metadata.color"
          ðŸŽ¨:text-red-600="isEven"
        ></span>
      </div>
      <p
        v-else-if="entry.metadata.size >= 50"
        class="pl-8"
      >No metadata present (but the size is big)</p>
      <p
        v-else
        class="pl-8"
      >No metadata present (but the size is small)</p>
      <div
        v-if="metadata"
        class="flex items-center justify-around"
      >
        <span>Size:</span>
        <span :text="metadata.size"></span>
      </div>
    </li>
  </ol>
</div>