<%
  const sections = [
    {
      value: 'a',
      title: 'Yo, man!',
      text: 'Body text, pew pew!',
    },
    {
      value: 'b',
      title: 'Pew pew pew"',
      text: 'Secondary body text rawr',
    },
    {
      value: 'c',
      title: 'Ca caw!',
      text: 'More body text, pew pew Body text pew pew',
    },
  ];
%>

<div
  *component="Accordion"
  class="-space-y-0.5"
>
  <% sections.forEach(section => { %>
    <%- include('/examples/tabs/section', { section }); %>
  <% }); %>
</div>
