<div
  *component="AccordionSection"
  #value="'<%= section.value %>'"
  #active-section="*accordion.activeSection"
  :class.border-indigo-500.z-10="isActive"
  class="border-2 bg-white relative first:rounded-t last:rounded-b"
>
  <button
    @click="*accordion.selectSection(value)"
    :class.bg-indigo-50.text-indigo-600="isActive"
    class="font-semibold p-4 w-full focus:outline-none text-left hover:text-indigo-600 hover:bg-indigo-50"
  ><%= section.title %></button>
  <div
    *if="isActive"
    class="p-4 "
  ><%= section.text %></div>
</div>
