<div
  *basic-counter*
  #count="0"
  class="flex items-center"
>
  <button
    @click="count -= 1"
    class="button"
  >-</button>
  <p
    :text="count"
    class="flex-1 text-center"
  >0</p>
  <button
    @click="count += 1"
    class="button"
  >+</button>
</div>
