<div
  v-component="fancy-counter"
  class="flex items-center"
>
  <button
    v-event:click="decrementCount()"
    v-disabled="!canDecrement"
    class="button"
  >-</button>
  <p
    v-text="count"
    v-class:text-red-600.font-medium="countHigh"
    class="flex-1 text-center"
  ></p>
  <button
    v-event:click="incrementCount"
    class="button"
  >+</button>
</div>
