<div v-component="ComplexAutoTextareaWrapper">
  <textarea
    v-component="ComplexAutoTextarea"
    v-pass:name
    v-sync="name"
    v-event:keydown.esc="$element.blur"
    v-event:blur="$parent.resetName"
    class="w-full"
    value="Christian Whitehouse"
  ></textarea>
  <button
    class="button mt-4"
    v-event:click="$log($children[0].name)"
  >Check Values</button>
</div>
