<div
  *complex-auto-textarea-wrapper*
  #name
>
  <textarea
    *complex-auto-textarea*
    #name="$parent.name"
    *sync="name"
    @input="resize"
    @resize.window="resize"
    @keydown.esc="$element.blur"
    *ref="textarea"
    class="w-full"
    value="Christian Whitehouse"
  ></textarea>
  <div class="flex items-center justify-between">
    <button
      class="button mt-4"
      @click="$log($children[0].name)"
    >Check Values</button>
    <button
      class="button mt-4"
      @click="name = 'Christian Whitehouse'"
    >Reset</button>
  </div>
</div>
