<div
  *component
  #saving="false"
  #text="null"
>
<p>Form submission will be interruped and the form disabled...</p>
<form
  *ref="form"
  @submit.prevent="saving = true"
  class="flex items-center space-x-2 mt-4"
>
  <input
    *sync="text"
    :disabled="saving"
    type="text"
    placeholder="Required!"
    class="flex-1"
  />
  <button
    :disabled="!text?.length || saving"
    @click.prevent="text?.length ?? saving = true"
    class="button w-32"
  >
    <span
      :text="saving ? 'â³' : 'Submit'"
      v-class:animate-spin="saving"
      class="inline-block"
    ></span>
  </button>
  <button
    :disabled="!saving"
    @click.prevent="saving = false"
    class="button w-32"
  >Cancel</button>
</form>
</div>
