<%
  const list = [];
  for (let i = 0; i < 10; i += 1) {
    list.push({
      id: i,
      name: (Math.random() + 1).toString(36).substring(2),
    });
  }
%>

<div
  *list-selection*
  #list="<%= JSON.stringify(list) %>"
  #selected-idx="0"
  #selection="list[selectedIdx]"
>
  <p class="italic">Current selection:</p>
  <p :text="selection?.name"></p>
  <div class="mt-4 space-y-2">
    <div
      *for="(item, idx) of list"
      #selected-idx="$parent.selectedIdx"
      class="flex items-center"
    >
      <input
        :id="'list-' + idx"
        :value="idx"
        *sync="selectedIdx"
        type="radio"
        name="list-selection"
      />
      <label
        :for="'list-' + idx"
        :text="item.name"
        class="pl-2"
      ></p>
    </div>
  </div>
</div>
