<div
  v-component="ComplexNestedContainerA"
  class="flex flex-col items-center justify-center"
>
  <p v-text="message || 'Choose a phrase to display...'"></p>
  <div
    v-component="ComplexNestedContainerB"
    v-compute:has-message="message != null"
    v-pass:message
    class="flex items-center space-x-4 mt-4"
  >
    <button
      v-component
      v-data:phrase="hello"
      v-pass:message
      v-event:click="message = phrase"
      class="button"
    >Hello</button>
    <button
      v-component
      v-data:phrase="goodbye"
      v-pass:message
      v-event:click="message = phrase"
      class="button"
    >Goodbye</button>
  </div>
</div>