<%
  const object = {
    banana: 'yellow',
    apple: 'red',
    orange: 'orange',
    lemon: 'yellow',
    lime: 'green',
  };
%>

<div
  *component
  #object="<%= JSON.stringify(object) %>"
  #selected-key
  #selection="object[selectedKey]"
>
  <p class="italic">Current selection:</p>
  <div class="flex items-center">
    <p
      :text="selectedKey"
      class="w-20"
    ></p>
    :
    <p class="ml-4" :text="selection"></p>
  </div>
  <div class="mt-4 space-y-2">
    <div
      *for="(key, value) of object"
      :key="key"
      #selected-key="$parent.selectedKey"
      class="flex items-center"
    >
      <input
        :id="'list-' + key"
        :value="key"
        *sync="selectedKey"
        type="radio"
        name="list-selection"
      />
      <label
        :for="'list-' + key"
        :text="key"
        class="pl-2"
      ></p>
    </div>
  </div>
</div>
