<%
  const options = [
    { name: 'banana', color: 'yellow' },
    { name: 'apple', color: 'red' },
    { name: 'orange', color: 'orange' },
    { name: 'lemon', color: 'yellow' },
    { name: 'lime', color: 'green' },
  ];

  const moreOptions = [
    { name: 'raspberry', color: 'red' },
    { name: 'kiwi', color: 'brown' },
    { name: 'avocado', color: 'green' }
  ]
%>

<div
  *component
  #options="<%= JSON.stringify(options) %>"
  #more-options="<%= JSON.stringify(moreOptions) %>"
  #expand-options="false"
  #selected-idx="2"
  #all-options="options.concat(moreOptions)"
  #selection="allOptions[selectedIdx]"
  #display-options="expandOptions ? allOptions : options"
>
  <div class="flex items-center mt-2">
    <p class="italic">Current selection:</p>
    <p class="w-12 ml-8" :text="selectedIdx"></p>
    <p>:</p>
    <p class="ml-4 w-20" :text="selection.name"></p>
    <p>:</p>
    <p class="ml-4" :text="selection.color"></p>
  </div>
  <select
    v-sync="selectedIdx"
    class="w-full mt-4"
  >
    <option disabled value>Select an option...</option>
    <option
      *for="(option, idx) of displayOptions"
      :value="idx"
      :text="option.name"
    ></option>
  </select>
  <button
    :text="expandOptions ? 'Less Options' : 'More Options'"
    @click="expandOptions = !expandOptions"
    class="button mt-4"
  ></button>
</div>
