<div
  *horizontal-list*
  #show="false"
>
  <div class="flex flex-col items-stretch justify-between space-y-4">
    <ul class="flex items-start">
      <li *if.anim-x="!show" class="button mr-2">Pineapple</li>
      <li class="button mr-2">Bananas</li>
      <li class="button mr-2">Kiwis</li>
      <li *if.anim-x="show" class="button">Oranges</li>
    </ul>

    <ul class="flex justify-end items-end">
      <li *if.anim-x="!show" class="button mr-2">Plums</li>
      <li class="button mr-2">Peaches</li>
      <li *if.anim-x="show" class="button mr-2">Strawberries</li>
      <li *if.anim-x="!show" class="button mr-2">Melons</li>
      <li class="button">Kiwis</li>
      <li *if.anim-x="!show" class="button ml-2">Mangoes</li>
    </ul>
  </div>

  <button
    @click="show = !show"
    class="button w-full mt-4"
  >Toggle</button>
</div>