<%
  let classes;
  if (tag.startsWith('v-'))
    classes = "bg-emerald-100 text-emerald-900"
  else
    classes = "bg-indigo-100 text-indigo-900"
%>

<p
  class="rounded text-xs uppercase font-semibold px-2 py-1 mr-1 mt-1 <%= classes %>"
><%= tag %></p>
